
########################################################
# "INIT.WIDI.RC" - COMMON PART
########################################################

on post-fs-data
   mkdir /data/widi 0770 wifi wifi
   chmod 0660 /system/etc/wifi/widi_supplicant.conf
   chown wifi wifi /system/etc/wifi/widi_supplicant.conf

service widiservice /system/bin/widi_api_server
    class main
    user system
    group system wifi bluetooth inet net_raw net_admin dhcp
    ioprio rt 4

service widi_supplicant /system/bin/wpa_supplicant -Dnl80211 -d
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot
