import /droidboot.init.${ro.hardware}.rc

on early-init
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc

    mount /tmp /tmp tmpfs
    mount /data /data tmpfs

    # mount logs in /logs
    mount ext4 /dev/block/mmcblk0p7 /logs nosuid nodev barrier=1,data=ordered
    chown system system /logs
    chmod 777 /logs


on boot
    ifup lo
    hostname localhost
    domainname localdomain
    # USB settings to allow charging, but not to be declare as Fastboot Device
    setprop sys.usb.config charging
    class_start default

    # reset counter watchdog at the end of system boot
    write /sys/devices/virtual/misc/watchdog/counter "0"

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09ef
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f8
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f2
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct Fec0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct Fec0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

service ueventd /sbin/ueventd
    critical

service watchdogd /sbin/watchdogd
    user root
    oneshot

service droidboot /system/bin/droidboot
    oneshot

service console /system/bin/sh
    console

service apk_logfs /system/bin/logcat -b system -b main -b radio -b kernel -n 20 -r 5000 -v threadtime -f /logs/aplog
    disabled

on property:persist.service.apklogfs.enable=1
    start apk_logfs

on property:persist.service.apklogfs.enable=0
    stop apk_logfs

on property:sys.partitioning=1
    stop apk_logfs

on property:sys.partitioning=0
    mount ext4 /dev/block/mmcblk0p7 /logs nosuid nodev barrier=1 data=ordered
    start apk_logfs

# Add Proxy service for Modem provisionning
service proxy /sbin/proxy -d none -m /dev/ttyIFX0 -p /dev/ttyGS0 -t on
    disabled

on property:service.proxy.enable=1
    setprop sys.usb.config rndis,acm,adb
    start proxy

on property:service.proxy.enable=0
    stop proxy
    setprop sys.usb.config adb

on property:sys.forcecoldboot=yes
    write /sys/module/intel_mid/parameters/force_cold_boot Y
