
# init.mfld.rc is catenated at the end of init.rc via the use
# of PRODUCT_INIT_RC_FILES. See AndroidBoard.mk


# This section taken from init.goldfish.sh
on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/sdcard_ext 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard
    symlink /mnt/sdcard_ext /sdcard_ext

    # set permission for charger-mode
    chmod 0777 /charger

# This section taken from init.goldfish.sh
on boot
# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1

# For testing, it can be handy to pre-initialize your google account.
# If you do so... be sure to use an account who's password does not need
# to be secret
#   setprop ro.config.hosted_account username@hosteddomain.org:password
#   setprop ro.config.google_account username@gmail.com:password

on boot
    # MRST platform specific setup.
    # The permissions below should be tighter.
    chown system system /dev/card0
    chmod 0666 /dev/card0
    mkdir /dev/dri
    symlink /dev/dri/card0 /dev/card0
    chown system system /dev/lpe
    chown system system /dev/lpe_ctrl
    chmod 0666 /dev/lpe
    chmod 0666 /dev/lpe_ctrl
    chmod 0777 /dev/cmt_speech

    # IMG Graphics specific setup. See also "service pvrsrvinit"
    # The permissions below should be tighter.
    chown system system /dev/card0
    chown system system /sys/class/backlight/psb-bl/brightness
    chown system system /sys/class/backlight/psb-bl/max_brightness
    chown system system /sys/class/backlight/psb-bl/actual_brightness
    chmod 0666 /dev/card0
    chmod 0664 /sys/class/backlight/psb-bl/brightness
    chmod 0664 /sys/class/backlight/psb-bl/max_brightness
    chmod 0664 /sys/class/backlight/psb-bl/actual_brightness

    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

on post-fs
    # Create logs folder
    mkdir /data/logs
    chown root log /data/logs
    # Here /data/logs is changed to 0750, then crashlogd will be
    # change /data/logs to 777.
    chmod 0750 /data/logs

    mkdir /data/tombstones 0755 system system
    mkdir /data/system/    0775 system system
    mkdir /data/system/dropbox 0700 system system
    mkdir /data/logs/modemcrash 0775 system system
    mkdir /data/logs/stats 0775 system system

    # make nodes for alsa-lib
    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer
    chmod 0777 /dev/pcmC0D0c
    chmod 0777 /dev/pcmC0D0p
    chmod 0777 /dev/controlC0
    chmod 0777 /dev/timer

#settings network buffers sizes to improve cellular data throughput
    write /proc/sys/net/core/rmem_max 256960
    write /proc/sys/net/ipv4/tcp_mem  "83520 111360 256960"

    setprop net.tcp.buffersize.default 83520,111360,256960,4096,16384,110208
    setprop net.tcp.buffersize.umts    83520,111360,256960,4096,16384,110208
    setprop net.tcp.buffersize.hspa    83520,111360,256960,4096,16384,110208
    setprop net.tcp.buffersize.edge    83520,111360,256960,4096,16384,35040
    setprop net.tcp.buffersize.gprs    83520,111360,256960,4096,8760,11680


on charger
    class_start charger
    start console
    start watchdogd

on early-boot
# enable core dump function when application crash
    #setrlimit 4 -1 -1 set it at init.c
    mkdir /data/logs/core
    chown root log /data/logs/core
    chmod 0777 /data/logs/core
    write /proc/sys/kernel/core_pattern /data/logs/core/%t_%e_%p.core
    write /proc/sys/fs/suid_dumpable 1
    start crashlogd

on property:persist.service.crashlog.enable=1
    start crashlogd

on property:persist.service.crashlog.enable=0
    stop crashlogd


on property:persist.service.aplogfs.enable=1
    start ap_logfs

on property:persist.service.aplogfs.enable=0
    stop ap_logfs

on property:persist.service.apklogfs.enable=1
    start apk_logfs

on property:persist.service.apklogfs.enable=0
    stop apk_logfs

on property:persist.service.apklogsd.enable=1
    start apk_logsd

on property:persist.service.apklogsd.enable=0
    stop apk_logsd

on property:persist.service.aplogsd.enable=1
    start ap_logsd

on property:persist.service.aplogsd.enable=0
    stop ap_logsd

on property:persist.service.aplogpti.enable=1
    write /sys/module/logger_pti/parameters/out "main,system,radio"

on property:persist.service.aplogpti.enable=0
    write /sys/module/logger_pti/parameters/out ""

on property:persist.service.aklogpti.enable=1
   write /sys/module/logger_pti/parameters/out "main,system,radio,kernel"

on property:persist.service.aklogpti.enable=0
   write /sys/module/logger_pti/parameters/out ""

service charger_app /charger 5 1
    class charger
    user root

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    oneshot
    user root

service crashlogd /system/bin/crashlogd
    oneshot

service watchdogd /system/xbin/watchdogd
    class core
    user root
    oneshot

# log services
service ap_logfs /system/bin/logcat -b system -b events -b main -b radio -n 20 -r 5000 -v threadtime -f /data/logs/aplog
    class main
    disabled

service apk_logfs /system/bin/logcat -b system -b events -b main -b radio -b kernel -n 20 -r 5000 -v threadtime -f /data/logs/aplog
    class main
    disabled

service apk_logsd /system/bin/logcat -b system -b events -b main -b radio -b kernel -n 20 -r 5000 -v threadtime -f /sdcard/aplog
    disabled

service ap_logsd /system/bin/logcat -b system -b events -b main -b radio -n 20 -r 5000 -v threadtime -f /sdcard/aplog
    disabled

on property:ro.intel.corp.email=1
    copy /system/etc/security/email.p12 /sdcard/email.p12
