on init

# partition map
#
# sdcard
#	-- pri --
#	mmcblk1p1	/boot
#	mmcblk1p2	/data
#	mmcblk1p3	/media
#	mmcblk1p4	not assigned (extended)
#	-- ext --
#	mmcblk1p5	/recovery
#	mmcblk1p6	/system
#	mmcblk1p7	/cache
#	mmcblk1p8	not assigned yet
#	mmcblk1p9	not assigned yet
#	mmcblk1p10	not assigned yet
#


# mount android base partitions
    mount ext3 /dev/block/mmcblk1p6 /system

    # We chown/chmod /data again so because mount is run as root + defaults
    mount ext3 /dev/block/mmcblk1p2 /data nosuid nodev
    chown system system /data
    chmod 0771 /data

    # Same reason as /data above
    mount ext3 /dev/block/mmcblk1p7 /cache nosuid nodev
    chown system cache /cache
    chmod 0770 /cache

    # This may have been created by the recovery system with odd permissions
    chown system system /cache/recovery
    chmod 0770 /cache/recovery

#on boot
# See init.cdk-basic.rc
