on early-init
    # Create the env for the filesystem mounting(FUSE and Vold)
    mkdir /storage 0775 root system
    mkdir /storage/sdcard0 0000 system system
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard

on boot
    chown system system /dev/card0
    chmod 0666 /dev/card0
    mkdir /dev/dri
    symlink /dev/card0 /dev/dri/card0

    # IMG Graphics specific setup. See also "service pvrsrvinit"
    # The permissions below should be tighter.
    chown system system /dev/card0
    chown system system /sys/class/backlight/psb-bl/brightness
    chown system system /sys/class/backlight/psb-bl/max_brightness
    chown system system /sys/class/backlight/psb-bl/actual_brightness
    chmod 0666 /dev/card0
    chmod 0664 /sys/class/backlight/psb-bl/brightness
    chmod 0664 /sys/class/backlight/psb-bl/max_brightness
    chmod 0664 /sys/class/backlight/psb-bl/actual_brightness

    setprop sys.usb.config adb

    #Change mmc queue nr_requests from 128 to 32 to reduce write latencies
    write /sys/block/mmcblk0/queue/nr_requests 32

on fs
    mount ext4 /dev/block/mmcblk0p2 /system ro noatime
    mount ext4 /dev/block/mmcblk0p8 /data nosuid nodev barrier=1,data=ordered
    mount ext4 /dev/block/mmcblk0p3 /cache nosuid nodev barrier=1,data=ordered

on post-fs-data
    mkdir /data/system/ 0770 system system

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    oneshot
    user root

service watchdogd /system/xbin/watchdogd
    class core
    user root
    oneshot

service sdcard /system/bin/sdcard /data/media 1023 1023
    class main

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
