on early-init

# wait for devices, workaround for ums
sleep 10

on init

#
# partition map
#
# hard disk
#	-- pri --
#	sda1	boot
#	sda2	not assigned yet
#	sdb3	not assigned yet
#	sda4	not assigned yet
#	-- ext --
#	sda5	/system
#	sda6	/data
#	sda7	/cache
#	sda8	not assigned yet
#	sda9	not assigned yet
#	sda10	not assigned yet
#

# mount android base partitions
    mount ext3 /dev/block/sda6 /system

    # We chown/chmod /data again so because mount is run as root + defaults
    mount ext3 /dev/block/sda2 /data nosuid nodev
    chown system system /data
    chmod 0771 /data

    # Same reason as /data above
    mount ext3 /dev/block/sda7 /cache nosuid nodev
    chown system cache /cache
    chmod 0770 /cache

    # This may have been created by the recovery system with odd permissions
    chown system system /cache/recovery
    chmod 0770 /cache/recovery

on boot
# See init.cdk-basic.rc
