on init

# partition map
#
# sdcard
#	mmcblk0p1	/factory
#	mmcblk0p2	/system
#	mmcblk0p3	/cache
#	mmcblk0p4	not assigned (extended)
#	mmcblk0p5	/config
#	mmcblk0p6	/panic
#	mmcblk0p7	/media
#	mmcblk0p8	/data
#	mmcblk0p9	/logs
#	mmcblk0p10	not assigned yet
#

# mount android base partitions
    # since init.sdcard.rc was ran before init.rc
    # we do need create mount points here
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /config
    mkdir /factory 0777 system system

    mount ext4 /dev/block/mmcblk0p1 /factory
    chown system system /factory
    chmod 0777 /factory
    mkdir /factory/wifi
    chown system system /factory/wifi
    chmod 0777 /factory/wifi

    mount_fstab /android.fstab

    mkdir /data/logs 0771 system system

    chown system system /data
    chmod 0771 /data

    chown system cache /cache
    chmod 0770 /cache

    chown system system /cache/recovery
    chmod 0770 /cache/recovery

    mount ext4 /dev/block/mmcblk0p9 /data/logs nosuid nodev barrier=1,data=ordered
    chown system system /data/logs
    chmod 0777 /data/logs


#on boot
# See init.cdk-basic.rc
