########################################################
#  BLUETOOTH CONFIGURATION - TI SPECIFIC
########################################################

on init
    chown bluetooth bluetooth /system/bin/uim
    insmod /lib/modules/st_drv.ko
    insmod /lib/modules/btwilink.ko
    chown system system /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /dev/rfkill
    chown bluetooth bluetooth /dev/rfkill
    chown system system /sys/class/rfkill/rfkill0/type
    chown 0660 /dev/hci_tty
    chown bluetooth bluetooth /dev/hci_tty

on boot
# uim interfaces
    chmod 0660 /sys/devices/platform/kim/install
    chown bluetooth bluetooth /sys/devices/platform/kim/install
    chmod 0660 /sys/devices/platform/kim/dev_name
    chown bluetooth bluetooth /sys/devices/platform/kim/dev_name
    chmod 0660 /sys/devices/platform/kim/baud_rate
    chown bluetooth bluetooth /sys/devices/platform/kim/baud_rate
    chmod 0660 /sys/devices/platform/kim/flow_cntrl
    chown bluetooth bluetooth /sys/devices/platform/kim/flow_cntrl

on post-fs

service uim /system/bin/uim
    class core
    user bluetooth
    group media bluetooth
    disabled
    oneshot

service hciattach /system/xbin/hciconfig hci0 up
    class main
    user bluetooth
    group bluetooth net_bt_admin misc
    disabled
    oneshot
