########################################################
#  BLUETOOTH CONFIGURATION - BROADCOM SPECIFIC
########################################################

on init
    insmod /lib/modules/bcm_bt_lpm.ko
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /dev/rfkill
    chown bluetooth bluetooth /dev/rfkill
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
