########################################################
#  BLUETOOTH CONFIGURATION - INTEL CWS SPECIFIC
########################################################
# currently keep another driver, for Power On/Off GPIO handling
########################################################
#Intel FM solution depends on BT
import init.fm.vendor.rc
on init
    insmod /lib/modules/bcm_bt_lpm.ko
    insmod /lib/modules/lnp_ldisc.ko

service rfkill_bt /system/bin/sh /rfkill_bt.sh
    class core
    user root
    oneshot

on boot
    write /sys/devices/pci0000:00/0000:00:04.1/power/control on
