import init.bt.vendor.rc

on init
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/hcid 0770 bluetooth bluetooth
    chmod 0660 /dev/ttyMFD0
    chown bluetooth bluetooth /dev/ttyMFD0

on post-fs

service bluetoothd /system/bin/bluetoothd -d -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let hcid drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service bd_prov /system/bin/bd_prov
    class core
    user bluetooth
    group bluetooth security
    oneshot

service dhcpcd_bnep0 /system/bin/logwrapper /system/bin/dhcpcd -ABKL
    class main
    group bluetooth wifi system dhcp
    disabled
    oneshot

service iprenew_bnep0 /system/bin/logwrapper /system/bin/dhcpcd -n
    group bluetooth system dhcp
    disabled
    oneshot

#service hciattach /system/bin/hciattach -n /dev/ttyMFD0 texas 3500000

# changing user to root from bluetooth is a potential security issue
# service hciattach_legacy is used instead of hciattach because, we dont
# have nodes named ttyHS0
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service hfag /system/bin/sdptool add --channel=10 HFAG
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
